*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: space-between;
    background-color: blue; 
}
.nav-items{
    display: flex;
    padding-top: 1.5rem;
}
ul{
    list-style-type: none;
}
li{
    padding-right: 10px;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: larger;
    font-weight: bolder;
}
section{
    background-color: brown;
}
footer{
    display: flex;
    justify-content: center;
    background-color: blue;
}